[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
twine = "*"
pytest = "*"
botostubs = "*"

[packages]
boto3 = "*"
click = "*"


[requires]
python_version = "3.7"
